.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content h2,
.content h3 {
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  font-weight: 300;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.item-list {
  margin-top: 36px;
}

@media (max-width: 600px) {
  .item-list {
    margin-top: 31px;
  }
}
