.cart-container {
  margin-top: 85px;
}

.empty-cart {
  margin-top: 85px;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
}

.cart-item-container {
  border: 1px solid #222;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-item {
  border: none;
  background-color: crimson;
  color: #fff;
  width: 35px;
  height: 35px;
  margin: 5px;
}

.remove-item:active {
  transform: scale(0.92);
}

.cart-total {
  font-size: 25px;
  font-weight: 300;
  color: #222;
  text-align: end;
  margin: 15px;
}

.cart-total > span {
  font-weight: 400;
  color: crimson;
}

.clear-cart-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.clear-cart {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: crimson;
  font-family: inherit;
  font-size: 15px;
  padding: 5px 10px;
  margin: 5px;
}

.checkout-cart {
  text-decoration: none;
}

@media (max-width: 600px) {
  .cart-img {
    display: none;
  }
  .cart-info {
    margin-left: 10px;
  }
}
