.order-confirmed-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-blue-color);
}

.order-confirmed {
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

.order-confirmed > h1,
h3 {
  font-weight: 300;
}

.order-confirmed > p {
  font-weight: 700;
}

.check-icon {
  color: limegreen;
  font-size: 100px;
}

.checkout-form-container {
  background-color: var(--secondary-blue-color);
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-back {
  text-decoration: none;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .check-icon {
    font-size: 55px;
  }
  .order-confirmed h1 {
    font-size: large;
  }
  .order-confirmed p {
    font-size: small;
    font-weight: 600;
  }
  .link-back {
    font-size: 14px;
  }
}
